logs
__pycache__
*.log
*.pth
*.npy
*.onnx
.vscode
*.nsys-rep
test
experiments/test_data
*.png
*.pdf
*.so
generator_logs
experiments/load_generator/pics
experiments/motivation/*.json
experiments/different_parallelism/*.json
experiments/parallelism_overhead/*.json
experiments/SLO_violation_because_of_DiffP/*.json
configs/worker_config.json
experiments/merge_in_multi_GPU/exp*
experiments/merge_in_multi_GPU/*.json
experiments/paral_times/exp*
experiments/new_diff_P/exp*
experiments/motivation_socc/exp*
experiments/exp/exp_overall/**/*.json